body,html {
	background-color:darkgrey;
}

.dev{
	display:none;
}

.gamewindow {
	position: relative;
	margin: 1em auto 10px auto;
	text-align: center;
	min-width: 100px;
	width: ;
	height: 480px; /* initial height, will be dynamically adjusted at runtime */
	max-width: 95%;
	display: block;
	align-items: center;
	position: relative;
	text-align: center;
	justify-content: center;
}

h1 {
	padding-left:5%;
}
h3 {
	padding-left:7%;
}

.story {
	font-size:20px;
	padding:20px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
